*  {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}


.Main {
    display: grid;
    grid-template-areas: 
    "nav nav"
    "menu center"
    "menu banner"
    "bottom bottom";
    grid-template-columns: 0.35fr auto;
    grid-template-rows: auto auto auto auto;
}
.nav {
    grid-area: nav;
    display: flex;
    background-color: black;
    color: #FBFEF9;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}

.logo {
    height: 50px;
}

.left-nav {
    display: flex;
    align-items: center;
}

.hamburger-menu {
    margin-left: 20px;
    margin-right: 20px;
}

.mid-nav {
    font-size: 60px;
    max-width: 100px;
}

.right-nav {
    display: flex;
    align-items: center;
    max-width: 500px;
    margin-left: 70px;
    margin-right: 35px;
    align-items: center;
}
.search {
    font-size: 15px;
    color: #393E41;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 4px;
}

.search-button {
    height: 30px;
    width: 30px;
    margin-right: 20px;
}

.cart {
    height: 28px;
}

.boxmenu {
    grid-area: menu;
    background-color: #374A67;
    color: #FBFEF9;
    padding-left: 20px;
    padding-top: 15px;
    padding-right: 20px;
    line-height: 35px;
}

.text-menu:hover {
    opacity: 0.5;
    cursor: pointer;
}

.center {
    display: grid;
    grid-area: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    background-color: #E0E1DD;
    padding-bottom: 35px;
    padding-top: 35px;
}

.cards {
    display: flex;
    flex-direction: column;
}

.card {
    background-color: #FBFEF9;
    display: flex;
    flex-direction: column;
    margin: 20px;
    border-radius: 5px;
    max-width: 380px;
    text-align: center;
}

.card:hover {
    box-shadow: 2px 1px 5px 2px  rgba(0,0,0,0.3);

}

.headline {
    padding-top: 10px;
    color: #374A67;
    font-size: 20px;
}

.subhead {
    color: #374A67;
}
.image {
    padding-top: 15px;
    max-width: 200px;
    align-items: center;
    max-height: 270px;
}
.price {
    padding-top: 15px;
    text-align: center;
}
.buttons {
    display: flex;
justify-content: center;
    padding-top: 15px;
}

.btn1 {
    background-color: #f5f7f1;
    color: #374A67;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 30px;
    text-align: center;
    margin: 8px;
    cursor: pointer;
    width: 40%;
    box-shadow: 1px 3px 5px 1px  rgba(0,0,0,0.3);
    text-transform: uppercase;
    font-size: 0.7em;
}

.btn1:hover {
    background-color: #374A67;
    color: white;
    cursor: pointer;
}

.banner {
    grid-area: banner;
    justify-content: center;
    background-color: #E0E1DD;
    padding-bottom: 0px;
}

.hp {
    padding-bottom: 20px;
    margin-left: 250px;
    padding-top: 20px;
    cursor: pointer;
}

.terror {
    padding-top: 20px;
    max-width: 800px;
    padding-bottom: 20px;
    padding-left: 130px;
    cursor: pointer;
}

.terror2 {
    padding-top: 20px;
    max-width: 800px;
    max-height: 350px;
    padding-bottom: 20px;
    cursor: pointer;
}

.bottom {
    display: grid;
    grid-area: bottom;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #616283;
    padding-left: 30px;
    padding-top: 30px;
    color: #E0E1DD;
    padding-bottom: 50px;
    text-align: center;
}
.correo {
    font-size: 15px;
    color: #393E41;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    padding-right: 10px;
    margin-top: 10px; 
}
.info {
    line-height: 35px;
    text-align: left;
    margin-left: 200px;
}
.Work {
    line-height: 25px;
}

.info2:hover,
.info:hover {
    text-decoration: underline;
}

@media screen and (max-width: 576px)
    {
        .center {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        padding-left: 25px;
        }

        .banner {
        display: none;
        }    
        .menu {
        display: none;
        }
        .nav {
            display: grid;
            grid-template-columns: 1fr 3fr;
            grid-template-rows: auto auto auto;
            grid-template-areas: 
            "nav nav"
            "search search"
            "bottom";
            max-height: 100px;
        }
        .mid-nav {
            justify-content: center;
        }
        .logo {
            padding-left: 25px;
        }
        .right-nav {
            grid-area: search;
            justify-content: center;            
        }

        .info {
            margin-left: 30px;
            line-height: 35px;
        }

    }

    @media screen and (min-width: 580px) {
        .hamburger-menu {
            display: none;
        }
    }